bin
tempKeystore
bld/
lib/jsapi.jar
lib/TIDIGITS_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar
lib/WSJ_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar
lib/WSJ_8gau_13dCep_8kHz_31mel_200Hz_3500Hz.jar
lib/batch.jar
lib/jsapi-1.0-base.jar
lib/sphinx4.jar
lib/tags.jar
